/* general */
.slide {
  width: 100%;
  height: 100%;

  position: absolute;
  display: none;
  font-size: 2em !important;
}

.slide h1 {
  font-size: 5em;
  line-height: 0.9em;
  margin-bottom: 0.7em;
}

.slide h2 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

.slide p {
  font-size: 2em;
  line-height: 1.2em;
}

.slide blockquote {
  border: none;
}

.slide cite {
  margin-top: 1em;
  font-size: 1em;
}

.slide code {
  font-family: Monaco, monospace;
}

.slide *:last-child {
  margin-bottom: 0px;
}

.slide.current {
  display: block;
}

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

#navigation:hover {
  opacity: 1;
}

#navigation button {
  border: none;
  background: white;
}

/* image slides */
.slide.image {
  background: center center no-repeat;
}

/* web slides */
.slide.web iframe {
  width: 100%;
  height: 100%;
}

/* text slides */
.slide.text {
  text-align: center;

  width: 960px;
  left: 50%;
  margin-left: -480px;

  height: auto;
  top: 50%;
  /* margin-top calculated at run time */
}