/* general */
.slide {
  width: 100%;
  height: 100%;

  position: absolute;
  display: none;
  font-size: 2em !important;
}

.slide h1 {
  font-size: 5em;
  line-height: 0.9em;
  margin-bottom: 0.7em;
}

.slide h2 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

.slide p {
  font-family: "Georgia", "Times New Roman", serif;
  color: black;
  font-size: 2.5em;
  line-height: 1em;
}

.slide blockquote {
  border: none;
}

.slide cite {
  margin-top: 1em;
  font-size: 1em;
}

.slide code {
  font-family: Monaco, monospace;
}

.slide *:last-child {
  margin-bottom: 0px;
}

.slide.current {
  display: block;
}

#navigation {
  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  opacity: 0;
  background: black;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  color: white;
}

#near-navigation {
  position: fixed;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 15%;
  z-index: 1;
}

#near-navigation:hover #navigation {
  opacity: 0.5;
}

#navigation:hover {
  opacity: 0.9 !important;
}

#navigation button {
  position: absolute;
  top: 3px;
  text-shadow: none;
  font-size: 2em;

  border: none;
  background: none;
  color: white;
  padding: 5px 10px;
  margin: 0;
}

#navigation button.prev {
  left: 0;
}

#navigation button.next {
  right: 0;
}

#navigation div {
  width: 100%;
  text-align: center;
}

#navigation div.current {
  margin-bottom: -2px;
}

#navigation div.total {
  margin-top: -0px;
}

/* image slides */
.slide.image {
  background: center center no-repeat;
}

/* web slides */
.slide.web iframe {
  width: 100%;
  height: 100%;
}

/* text slides */
.slide.text {
  padding: 0 20%;
}

.slide.text.current {
  display: table !important;
}

.slide.text > *  {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.stopwork.loading {
  /* spinner animation */
  background: url(data:image/gif;base64,R0lGODlhIAAgAPfhANvb29ra2t3d3d7e3tfX19XV1djY2Nzc3O7u7s7OztnZ2efn5/Dw8PT09OLi4uvr69bW1uPj4+3t7e/v7+bm5urq6re3t9HR0eTk5PLy8tPT0+Dg4N/f3+jo6PHx8eXl5fPz89DQ0MPDw8zMzJeXl+np6ezs7M/Pz8rKysXFxdLS0snJydTU1L6+vsjIyPX19cTExKmpqcfHx8vLy7+/v6ioqM3NzcHBwbS0tG1tbeHh4cDAwLKysrGxsbOzs6Ojo7y8vIKCgqenp4ODgzc3N5KSkvb29ru7u7m5ubi4uLW1tTY2NsbGxqampqSkpI6OjqGhoVJSUvf396+vr1FRUcLCwmxsbJGRkba2tpWVlZaWlqKioo2NjYCAgJiYmL29vaWlpaCgoK2trV9fX1NTU5SUlIqKint7e4GBgX9/f319fZ+fn7CwsLq6up6enmtra4+Pj3d3d52dnaysrH5+fnZ2dmZmZk5OTmlpaSUlJaurq2hoaJubm66urpqamnp6eoSEhGRkZHJycjMzM0JCQmJiYpCQkJycnHh4eFpaWoaGhkZGRm5ublBQUE9PT3l5efj4+F1dXaqqqi8vL3x8fGpqaklJSXR0dFRUVEFBQWFhYYWFhWdnZ2VlZUNDQz8/P3FxcUtLS4uLi4iIiGBgYDU1NTIyMkdHRygoKHV1dZOTkysrK15eXkhISHNzcyMjI0xMTCwsLCoqKvn5+YyMjDAwMD4+PomJiVlZWR8fH1tbW2NjYzk5OSYmJkVFRTg4OE1NTS0tLYeHh1ZWVpmZmTQ0NEpKShoaGnBwcCcnJz09PVxcXDs7OyQkJPz8/FdXVyEhIURERC4uLm9vbx4eHlVVVR0dHRwcHPr6+hkZGTw8PDo6OkBAQFhYWBsbG/v7+zExMQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/wtYTVAgRGF0YVhNUDw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QzNCQTVGMkVBMjQ4MTFERjgwRkRDM0IyQ0MzNzUzRTciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QzNCQTVGMkZBMjQ4MTFERjgwRkRDM0IyQ0MzNzUzRTciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBNEMzMUU1N0EyNDgxMURGODBGREMzQjJDQzM3NTNFNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBNEMzMUU1OEEyNDgxMURGODBGREMzQjJDQzM3NTNFNyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgH//v38+/r5+Pf29fTz8vHw7+7t7Ovq6ejn5uXk4+Lh4N/e3dzb2tnY19bV1NPS0dDPzs3My8rJyMfGxcTDwsHAv769vLu6ubi3trW0s7KxsK+urayrqqmop6alpKOioaCfnp2cm5qZmJeWlZSTkpGQj46NjIuKiYiHhoWEg4KBgH9+fXx7enl4d3Z1dHNycXBvbm1sa2ppaGdmZWRjYmFgX15dXFtaWVhXVlVUU1JRUE9OTUxLSklIR0ZFRENCQUA/Pj08Ozo5ODc2NTQzMjEwLy4tLCsqKSgnJiUkIyIhIB8eHRwbGhkYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAUGAOEALAAAAAAgACAAAAj/AMMJHEiwoMGDCBMqXMgwHJcuDSMKVPHK2heJB1VYijMwxZJSPQZ2AJABYwxPvnAIdEFkkMpwIAIE6ICxQqEoiQTKaPlSh4ABLzCG83EHFolwLIvxCGcCAIAKDQkkISgoSqMHF1A18xFuwIANBCeAQBiI1aMRAhPAYuYnnBVS4TIEOMBAYIMNBgwgHGUnRyBRFMK54RSCYAMdgcN9UBBAwYCEPVy9qaQJiUIEjOdSaKAwgpwciQApdEAgQATOUdcQUNjgg4eFDjY4iB0hIoIJtxFIKNgnFZogQYbEmcIwgooCEFgUuICBYJM4Q4AHidOE4YYLEAogvwB2oAkZ4GUw0EkQcUIFCQ/SM0wwATbGEHJuzVFogMmI2gt1gClCwtCRziMkMMMFDySEhCEkZAHFCeEcQEN7BKnAAVMsJJDACnoZhMAVcPCxQ3sTgOGHC+GwUNgGR7SAgEAYXDADiQfZYAF+4dDQRAwYMNDDFIHBAAN5AkmwQWILfeBEEzeEUwESFugQTgBV7ECTUDjEoMduDzDpgE4wwCiRAVs0gVY4D1hgwZbhRHBDCwJgNAAUSwn0QBJnDnRCCx8IhQGEZPLAA43hrCiUQSswMeihiCYaTkAAIfkEBQYA4QAsAgACABwAHAAACP8AwwkcSHDgoSIFEypUaCCTthQLI4ZT0EnUQBtRGgEZeEZaC4kCsbDStENgCDKOaAi8ISuPIpDhEDzK4cokSpXhGi3hpgJmOBp47AgJdwJTo49hpJlCuBBAFYKKrFRCQGARIYi2lgAjyOAFwTOpuGgQyIJTohrh0qQKFyZXLDYCXzgIEICgHzVDzhwqEU4PHQgETzj6I5ACgAEANhQEMgpNlz8iJGY4QFlAiQwJKUjaJIiExAgKDmAAIfGAGAEgKWDO/IECBQwLfIbzwIC2hwnhgNAiwZvEky8wKRA4AABAAAILcDzxwtsLFyUwMRgwHgCAgQ8ILpwIESIBYJ8MEIjBRyBhIQEPID/ANDBHThuJA0KwiK3wAw8nMX4wkbhAQwEWBCBQUAo/xFBDD4A5gAJpBCmAQUwBFFCABgMMxMAPP+gxAwPhMKDEHGNZFw4FMqDAYTglEMBCTwOxIAJ94aCAhQUdZEDDFxWEk4AN33UYwQMRlYBDEjOEI0EKIlAQDgc2zJCjTzdYgASHR75oUgIn+MSBD0qwINAEIlg54ggrOABTBD7gFBMMYoZDwAod+FTBiUbS0AKM4eAmW0EahOBTQAAh+QQFBgDhACwCAAIAHAAcAAAI/wDDCRxIcKCeLQUTKlQogFWiBAsjhhtA6dBACIwqMRnIxVgKiQJ3xHnkQiCBHHhKhnOxiBAJkOEYcBlyyyRKlXuoJIIAc2UaNTjCYcQjI5wYS3fCRHQwgqCXIGjCHShE6kQ4XFTsEOwxg+AVWlAACAygRhCWcEXMhNNjy9IRgTO69VpFUFIRElfEmAhn4coBggX2cBHoqlapWncKppCjRQscGxKxDAJXytYQyAVLJPEiSojEQNeWvFkh0cERBxJdIGOj8EGHChVe9wzXoAGIDAwYhJMRpobvGGGKgqwAYIAAAQcUdLgBJcbvMDdgfgBw/HgACgwMaDdA4G9PDxPCT8FAsFBAA5AlYHI4MmVjxAgFAqRXWOKGEgs8rEZ8oCD5Ad0EheCDBVi0IEA4C2hwHkEcLBBOBhsEAIABEQwEAg84HKFBBuF4cMMRAYSzwYElnBACCAKZIIACBhB0wAgPDKSBCCKYAMIKK+xVQAEHDkSBBBFJcIMILMR0wggVhPMBCxqQ19MMMKTAIQMJwGgSBAT0hMEOVYjVYZUxhlOBBio4CNICLZAmkAdHhinVBXvBhACKAjGAwgpudjhbQgrwBFNAACH5BAUGAOEALAIAAgAcABwAAAj/AMMJHEhwIBY2BRMqVBihjiAWCyOGw3Clz0AAQ7qcGCjHTgKJAlE8gaNBoICMG8OpKDRGCMhwHtaQ4GMy4wWBdN5cGvAyXIgyRXaEw6gxHJJOe6ZEXFByoCQSWkBw+FOnQDhQOdQQPHJz4I81bHQI3FDEzI1wP/yES6JrFxOBGhh5OkXQApgYP9owCCfCidiLdOQIVBSKCiw7BUOIESLkB8SIO+7coTKsTFOCJmDUcINF4iNmUeiEkEghxQKJCYS5UCihdesJPcMxSfElSZsjPntY2G2hR1eJaF4tGb4EWpoZPJLsRtJjxEtQeYhIJ5JHUAYOAzhgdxA7BhjGP2ost+QOEsFLDEyApFyIQcEACQslzNiR4gYBiSYADNDvoSABGjCIgAJ3FSiQUAQPwKSDAAIE8MFAL+xwAxMBvBAOCCOkwEE4H3D3QAEQWBiOBBwAEABBERQAm0AAJDACAg1oEAJsAQCwwUAZlGBCRBOMYAMA4WQAQQE7dhCAAXv1VEACCYBw4ZDmhXPAlD0tgMIMNz5ZQJQIKGBABS89gMJlQm45kA4ERAnSBCIGqYIKOw7kZGwFYddTQAAh+QQFBgDhACwCAAIAHAAcAAAI/wDDCRxIcGAVIAUTKlS4gIsZAAsjhlvwo83ADV60QBg4R00BiQI1QNmiQKADElkICCTwJ44PkOFAsIkhxiRKleGuoBm1AWY4A03AoAh3UotKEZTSWFxYQQDBJDGaTITzBOKmIYYIpjBA0EcPIBQEfmjiZkY4H3rCVbl0xoZAA4DGBNKqBAmOFB7CjfAR9uKVOQJJ7LGyh1JBAkAsWPABMaKLPYOngWlMcMIJJGxESOSCy8oVnExDPJAIgdgFhR4mMGCg2qdeGzBu3NBsoIWI2yJagI5YJFMUKsA/XSnQIgUMGClosIAJKBOZKFHIEALUAEOEDx8i9IVJgw0PrzgWbr6P6AXmghMudie0c+xXkYUTNIxIMMMp71VEgnkKT3AAigQ2aNBBOAhw8EJBH0gQjhLDDEJEMnYQtAIKJ3AgRTgNsBACBuF08EE4JigQgBECEbPIKnkQtMABDAzEQQEQePCCAQTkJYAADgyUQhBORJSBCgVwgCEAACAQTgkHBJCXTwHAeGA4AATQYjgcDDCATxVowEJfL0Q5pQRRjgaSBBeUJFADUU4wUAQKqAmTBxeeqYABRg70pGsEYaCDTwEBACH5BAkGAOEALAIAAgAcABwAAAj/AMMJHEhw4AgZBRMqVFhhjRsdCyOGM+EjxUAMMYQcGNjmykaJ4QLw8LFBIIUaQgYIFGDoCQ2Q4V58sXBEYAeUKsP9yMKHAsxwHJQo0RBuQUYB4WYUyWJxoQSIA0VYSNKgxI81EP2Q+EHQBtKBNGisKCGwgpIpLMLRQJLUzJUCAgdoQXSGYIIbMG6EABGuwA6yAz9sYRuuCZ0gagwVHCCjiggaUBdeSJMmiKIeHBJmgJCixQiJcgQFgfJ1IQIDEiQCqAFBYYbXrz38DKdBwwgUM1CEG7DChm8bKHJK/DHGyps3ViJtAbAigfMEKwDAJDEmh/UcY7y86EChRIkOgGGixADSggaQHQtLSAEJBmYFAidKKzxDhMyahR4CaCigwYHELa2QEUokLRTkgAoFsBBABQJhAElBVsgRzg1v3BHFIn8MZIQKGkDwwUAGFLBAOCWM6MUxvVwgUBOktOIJQRVswFeDAQAAghEBKDALGLwskchAKBTBRkQNKBAABuGAMIAAsgFiSiw9zLZBjes1IMABsoXjCxHR/CSBAQoAZuVHOk3SSxkweUCAcLsJwMBAY+QRw08zCgQCAAFMQNAKsyX0QQQ/BQQAIfkEBQYA4QAsAAAAACAAIAAACP8AwwkcSLCgwYMIEypcyDBcgQsNIwqU0GPKB4kHEewIMbBCEgsRBqZw4gDjBho7LoZ7YAGkQAc/oKzA+GIFDBkCWboM5yPGnAoYw2GoUgXAyo8hC4BpkqAhA5UCE8CoYkQCDh4UwumJ0YMghJAHUay4IGHijhYBwq1IEU7Fmh8HXtZ4YgghhBkJZhBoEE4ACgQES/iAIRCLKhJltiSMcMGGDRQYFBrIUkaLnxYlEzYQkEBGAYVzzGjpkZkhAwEMFOqwIGBhgwYvGoDg25AAABYqLqgoiOFCARYQIFwAq3BKHDRBgqBJ1YfghgsQCki/sIFhkzpDkg+J04SgkQfgJTzUANzwQgoZ6HEuNAFpIQ+MDwAQqJ7QUDVGzRdmGKAAgAGoB00RSA521OFCQh8YEAAAAwA2wQdGFJRGDOGgMAQeOWgCx0GQGGDAAR3MEs4LARBgQjhm0BFODEREQ4BAStQRyBgImYABbUIdIMA3J+SRyw3hYEIFMgOF8AMQDTUAgAAXuUDEIF1lcYcxSAQVjg4HDCBFhb+Y4oNAkUQRSVATBCAAUOHM0OWX4bARiieKScSAAvSpxQuUA11CiBJBgbClQDOg0gwOBEFkZUE5dHLoooweGhAAIfkEBQYA4QAsAgACABwAHAAACP8AwwkcSHDgAQMFEypUyODLlxILI4bzgILAQAQwRCwYmAAHBYkCMaxAATEcAhEaBS7g0UMDyHBGLpxIIPBkynA7LLQx8TJciREzNphEufEADiwWF3qoQLBAAhvhJlRpwRSJhRYED3QgqOGCggkCGYyQIVQDzQNTcDgQ2AELlB8EBWgooGHAi3A6VDAgaGIHTZxgajThUXABgQJ0t0Yc0ERIDUkoNhY04qBAiAMSjxyq0ULyQhARQEikUGVtwhdGUt/tGW4AhwAKDFg0HACAbQUfQX7hQoKEFhK0gHwwACBAbQMYXirh4qW3lyc4IElAQB3B3p4EEoQIceICa4VfXiLDEKAggsQwjIYgWfhiA4ABATwrPHImCB0zJwp2eC8gnIRwPOQgFEGqYBGOCll0MQQibgxkRAAHDFACJOEcUEs2ioTDBxzhYDGMJgAI1AItZ8RBkAS5CcSIKaUwwQEhtrgQTg5WbDIQBD2kEBETkwwCSjgXROFIG+GAsUcnMLCGyRLKIKQCGXcAIVAdb9TRUwyoTCKKQE/egVU4bdhByhQv4YCKIwOFgIkjUgp0yxg39CRDiAJdsEgmXwqE0HcEBfFHTwEBACH5BAUGAOEALAIAAgAcABwAAAj/AMMJHEhw4AYOBRMqVAhihQwECyOGA8HiwEAPJ0ZUGAhhx0aJ4Uqo0CBBoIcEIx4IrECjhQKQAg0UIGASpcpwKGCkmAAznAkNLDCEO5ky3IYbNwZEzGCCIIACBaSAmLGiJAwYKAjq+ChQAQEBHgRm0BBCqAII4Th8uUFBoAkRPHwQdKAAQAAdUsJ9CJCB4AQUaMONwGEBC42CD+wGIHBzoQMlWJIkUdGY4AIABBBGlDHFAgquCyk0kFhixAKFRl7kbfCiZzgdETgM4ICwg4IDAgQoPQ1SRpgYNYKHkUEhQO7cAD7A3PE7eAwoN2YhmEA9XN6eAyAY2G5goROhEl3AwXTyydsYiVMUkUix0EWUYERkqZHI5AqJIodoEqS0askgYE6EQwMaERS0xQ3hGNBEGV7A0cdAOsQiyydm6BBOBLAskUU4MYQRzg2MPLKBQCi4UcQTBEGRSlYCBQEMFQl8oEkiIYQzBBokDDTAFydEZEMojWwSDgE5VMIeD2mcYYNrVlDxjFIG5ICHDAKJMoQZPSnhSyh8dCUlleGkoAYiR8BEwyKcDBSlkQPxgYh4MJ0wokAEFMIKnAJZ5FpBZXDRU0AAIfkEBQYA4QAsAgACABwAHAAACP8AwwkcSHAgBQcFEypU2OBCiAkLI4ZroCDCwAwFCkgYeGDGRonhHhAwADFcBggaBSKYsWIDyHDYDsgUeLJASQ02TjB4GW6CgQALwoFAufEDChsWF774KHBDgAACNaiAeCKBCoIfEBAMAIBDBoEgFBDoEI7DgXAYXMyoIJDBjBY7CEYAMOBA0g4DGhD0oEGAQBY7YFRZkVCAgAMATEikcEOECBgKmBY8oABhxBNARFzQGtHZAxASJRRQnFBFggsnRoTgGa7DAgwOYIdLA22J7SWv0ry8wCaJhd89QgjKQ6Q4kTygXo7ogeR3Eh4zONT4IUTIDx6sMXAYsJ3DQh5BJZ6/eOlj2bY6EoHwqZFg4Yk9xsiceiIxhJMYTsR4J8jlFBVHnUwRjgxlUFBQDyiUpYQQMUABxEAYtHKKLsR8EM4HnGACRjhKiBEOCsI8YWA4F0zhxBoE9THKagJlgccbLHTwyCUQhONFFjEM5IALNS5UACeVaBGOAEN00V4LZRRRAGtBWAEKQkQaKZAbJMjBEw2FcKKHQAME0QWLCRTxBBMvuVCIGgMNUOQIA+nxxFUvFYBBmojE0Z6OrCXkhBs8BQQAIfkEBQYA4QAsAgACABwAHAAACP8AwwkcSHBghwUFEypU+MIABA8LI4Z7AQDDwAYAAEwY6EDFRonhTCgIwEAgxgAfPahQEQFkuFkcBgwwCSAAxHABChDI4DIcAgAHKkysubEDCxYUIrpYQ9DBgQMTFRiASKCAAoIlbgqU9cpSG4EUFZQIh0FHuA4XVEgQmIHFihkEI00iEovU1QobCmYI4EAggBE2ZqgoWIZQsWKomEZ8MGJEggQcECQ0gIhXrmcSCciwoaBkxBVqXEhkAGDtZBYQUgfoGa5EhYMLOoS78omK7SiZirgk0AKGiN8tDAAiRCZKFDKEALlkQQOG8xQtCnzA0cOHjylAWHfA8OFDBIsKgQi+zeySxiVctyS6EGMBwkIIXTrlCBRGogEcSHAAaUnQzS4reFByRDgnODEWQS1cQFYVFiDBgwwGBbKLKzUgVAIdOfgQThUDanDIFrKFo8AXPvBAEBJ+EDCQE2mgEUAFcJgxkyRCJDHQAhcIEBEAaqABRjgOkKBFAeGsIIQTUPVURhCAJBUBCVmoGI4YMfTR0wqP0GGBQE9GKRABTmxxgkshIHLFQE8OOVASUBjQEwAIcQnHE24OlBRrBeEgRk8BAQAh+QQFBgDhACwCAAIAHAAcAAAI/wDDCRxIcOCDDgUTKlRoJICCDAsjhhsRrBDBAQcgCvxggIFEgYfyJIsxUEBGgRkMGFjwMVwHS0Q+lTwZbgCAAw1ahqtRa5IigQIEeHygQEGJiBfmEFy2pJQCZwECAA0ggKAJEARPZdIkQiCTSdQ2CXQQrgIBBR4FArigguAlS1Fa1dERjksjFwRBCKAgcAOLAhoMFNyii0qjRX0kSvhbAEKEtAQFmMGkbJpEASFYDNC4MMSTCxIzbPCgUAAAkwE46AxnQkKFCg8qhNsSycqbN1bG/GgpwIWNBDZsrBjgZUyO4znGkGgJYEWC5wlWAKCwAwiNFl9SrDbRoUMJCggVyr8w8XFASyajBPGReOEIDPMKAaiiNOSMmMs7YNxwwZLgnDNBdPGEdgTwIEFBKEhVwggiwLBDCAb98YcwOJBnQhGbtBDODEyEE4AYPJAXDgcu7EADQTDUAF84PmihxQYmQOEGWUlYUIVBCkQQ0QaqZIFDOBRIIgQA4ahgAQ506dQECX7I1kENQhwgEBAWHKHTBXAU0VU4C0AJ3wBK8CDYRwQ8sZtAC8QgxIow9KBaSzo8MFAHUEBRlUGrJUSDlS0FBAA7) center center no-repeat;
}

.stopwork.loading * {
  opacity: 0.5;
}