<html>
<head>
  <title>{{title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <link rel="stylesheet" type="text/css" href="css/skeleton-base.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/iconic/iconic_fill.css">

  <script src="js/jquery.js"></script>
  <script src="js/marked.js"></script>
  <script src="js/stopwork.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
